@charset "utf-8";
/* CSS Document */

html,body{margin:0 0px; min-height:100%;_height:100%;font-style:normal;margin-top: 0px;}
body{ font-size:12px; font-family:Arial, Helvetica, sans-serif,"宋体";  color:#5B5B5B; text-align:center; background:#9dc4e1;}
A:link,A:visited{ text-decoration:none; color:#FFF;}
A:hover{ text-decoration:underline; color:#FFF;}




/*body*/
.bgnr{
	width:710px;
	background:#FFF;
	}
.blueb{
	width:99%;
	background:url(image/bg.jpg) no-repeat;
	width:700px;
	height:450px;
	border:#095672 1px solid;
	margin-left:5px;
	margin-top:5px;
	}
.btn{
	background:url(image/Dblue.png) no-repeat;
	height:38px;
	width:92px;
	color:#fff;
	font-size:14px;
	font-family: "微软雅黑", "黑体", "宋体", Arial, Verdana;
	font-weight:bold;
	border:0px;
	}
.btnn{
	background:url(image/Du.png) no-repeat;
	height:49px;
	width:49px;
	border:0px;
	}
.btnl{
	background:url(image/Dl.png) no-repeat;
	height:49px;
	width:49px;
	border:0px;
	}
.btnr{
	background:url(image/Dr.png) no-repeat;
	height:49px;
	width:49px;
	border:0px;
	}
.btnd{
	background:url(image/Dd.png) no-repeat;
	height:49px;
	width:49px;
	border:0px;
	}
.btne{
	background:url(image/De.png) no-repeat;
	height:49px;
	width:49px;
	border:0px;
	}
.szbtn{
	background:url(image/Db.png) no-repeat;
	width:71px;
	height:45px;
	color:#01334f;
	font-size:18px;
	font-family: "微软雅黑", "黑体", "宋体", Arial, Verdana;
	font-weight:bold;
	border:0px;
	}
.yl{
	color:#004b66;
	font-size:15px;
	font-family: "微软雅黑", "黑体", "宋体", Arial, Verdana;
	font-weight:bold;
	}
.bkys{
	background: url(image/left_1.jpg) repeat-y;
	width:500px;
	border:#93d4fa 2px solid;
	}
.lgota{
	width:180px;
	height:50px;
	color:#02334f;
	text-align:left;
	line-height:50px;
	font-size:15px;
	font-family:"微软雅黑", "黑体", "宋体", Arial, Verdana;
	font-weight:bolder;
	padding-left: 15px;
	}
.blue_buo{
	background:url(image/blue_03.png) no-repeat;
	width:170px;
	height:40px;
	border:0px;
	color:#648ba3;
	text-align:center;
	line-height:40px;
	font-size:13px;
	font-family:"微软雅黑", "黑体", "宋体", Arial, Verdana;
	font-weight:bold;
    }
.blue_btn{
	background:url(image/blue_02.png) no-repeat;
	width:170px;
	height:40px;
	border:0px;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:15px;
	font-family:"微软雅黑", "黑体", "宋体", Arial, Verdana;
	font-weight:bold;
		}
