.k_right{width:594px;height:350px;border:1px solid #b4b4b4;background:#eee;text-align:center;border-right:none}
.k_right div{margin:5px}
.k_right div ul{background:#f7f7f7;border:1px solid #9e9e9c;padding:10px;text-align:center;margin:0 auto}
.k_right div ul li select{max-width:120px;display:inline-block}
.k_bottom{background:#eee;border:none;width:594px;margin:0 auto;height:68px;}